@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --color1: #EAEBF0;
    --color2: gray;
    --color3: rgb(61, 61, 61);
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font: normal 500 1em 'Roboto Slab';
}

body {
    background-color: var(--color3);
    padding-top: 40px;
}

header h1 {
    margin-bottom: 10px;
}

main {
    width: 500px;
    height: 290px;
    margin: auto;
    border-radius: 4px;
    padding-top: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

section#smain {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    border-bottom: solid 1px var(--color1);
}

section#sbill  {
    display: flex;
    flex-direction: row;
}

label#lbill {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-left: 1px solid var(--color2);
    border-top: 1px solid var(--color2);
    border-bottom: 1px solid var(--color2);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: var(--color1);
}

input#bill {
    width: 350px;
    height: 21px;
    margin-bottom: 10px;
    padding: 2px;
    padding-left: 8px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid var(--color2);
    font-size: 0.8em;
    color: var(--color3);
}

input#bill:focus {
    outline: none;
    box-shadow: 0px 0px 6px 2px rgba(85, 159, 255, 0.74);
    transition: box-shadow 0.3s;
}

section#stip {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 0.9em;
    color: var(--color3);
}

input#tip {
    width: 80%;
}

div#percentage {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 0.8em;
    color: var(--color3);
    background-color: var(--color1);
    border: 1px solid var(--color2);
    border-radius: 4px;
}

footer#results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > section {
    margin: 5px;
    font-size: 0.8em;
    color: var(--color3);
}

h2 {
    margin-top: 30px;
    margin-bottom: 10px;
}

section#srestip {
    display: flex;
}

label#lrestip {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13px;
    padding: 6px;
    background-color: var(--color1);
    font-size: 0.9em;
    color: var(--color3);
    text-align: center;
    border-left: 1px solid var(--color2);
    border-top: 1px solid var(--color2);
    border-bottom: 1px solid var(--color2);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

div#restip {
    display: flex;
    align-items: center;
    width: 300px;
    height: 21px;
    padding: 2px;
    padding-left: 8px;
    border: 1px solid var(--color2);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: var(--color1);

}

section#sresbill {
    display: flex;
}

label#lresbill {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13px;
    padding: 6px;
    background-color: var(--color1);
    font-size: 0.9em;
    color: var(--color3);
    text-align: center;
    border-left: 1px solid var(--color2);
    border-top: 1px solid var(--color2);
    border-bottom: 1px solid var(--color2);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

div#resbill {
    display: flex;
    align-items: center;
    width: 244px;
    height: 21px;
    padding: 2px;
    padding-left: 8px;
    background-color: var(--color1);
    border: 1px solid var(--color2);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}